body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav{
    display: flex;
    justify-content:space-between;
}

.lista-izquierda{
    display: flex;
}


.lista-derecha{
    list-style: none;
    display: flex;
}



h2{
    display: inline;
    margin-left: 10px;
}

.container{
    width: 250px;
    height: 250px;
    background-color: #888;
    margin-left: 100px;
    margin-top: 60px;
}

#img_perfil{
    width: 50px;
    height: 50px;
    background-color: #48e;
    margin-left:10px ;
    border-radius: 50%;
}

#plus-solid{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-right:5px;
}



#bars-solid{
    height: 25px;
    width: 25px;
    margin-top: 22px;
}

.cajas{
    display: flex;
    
}